src/ANXScreenRecorder/build/
src/ANXScanner/build
src/ANXGallery/build
out/
.idea
src/ANXMiuiAppsMagisk/system/priv-app/ANXScreenRecorder/ANXScreenRecorder.apk
src/ANXMiuiAppsUnity/system/priv-app/ANXScreenRecorder/ANXScreenRecorder.apk
src/ANXAppsUnity/system/priv-app/ANXScreenRecorder/ANXScreenRecorder.apk
src/ANXAppsMagisk/system/priv-app/ANXScreenRecorder/ANXScreenRecorder.apk
src/ANXMiuiAppsMagisk/system/priv-app/ANXScanner/ANXScanner.apk
src/ANXMiuiAppsUnity/system/priv-app/ANXScanner/ANXScanner.apk
src/ANXAppsUnity/system/priv-app/ANXScanner/ANXScanner.apk
src/ANXAppsMagisk/system/priv-app/ANXScanner/ANXScanner.apk
